@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.return-button {
  position: fixed;
  left: 10px;
  bottom: 10px;
  background-color: black;
  padding: 15px 30px;
  border-radius: 50px;
  transition: .5s;
}

.return-button:hover{
  background-color: yellow;
}

.return-button:hover a{
  color: black;
}


.return-button a {
  transition: .5s;
  text-decoration: none;
  color: yellow;
  font-family: 'Open Sans';
  font-size: 20px;
}